{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<h1>Intro Symfony</h1>
	<a href="{{path('app_login')}}">Se Connecter</a>
	<a href="{{path('app_register')}}">Créer un Compte</a>
{% endblock %}
